---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Oh it's focused</title>
	</head>
	<body>
		<h1>Oh it's focused</h1>

		<video controls>
			<source src="/ohitsfocused.webm" type="video/webm" />
			<source src="/ohitsfocused.mp4" type="video/mp4" />
		</video>
	</body>
</html>
